.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#banner {
  width: 100%;
  height: 100px;
}

/* 
  #23578C // base
  #003366 // main
  #5985B2 // accent
*/

#header {
  background-color: #003366 !important;
}

#header h1 {
  color: white;
  font-weight: bolder;
}

#header h2 {
  color: white;
  font-weight: bold;
}

h1, h2, h3 {
  color: #23578C;
}

.padButtonTop {
  margin-top: 25px;
}

.tempsPng {
  max-width: 640px;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  text-align: center;
}

.tempsCol {
  min-width: 80px;
}

/* Set the background color of body to tan */
body {
  background-color: #fff;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: #DED6D6;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .tempsPng {
    display: block;
  }

  body {
    background-color: #D2CBCB;
  }
  th {
    padding: 12px 15px !important;
  }
  td {
    padding: 12px 15px !important;
  }
}

/* On screens that are 300px or less, set the background color to olive */
@media screen and (max-width: 480px) {

  .tempsPng {
    display: none;
  }
  body {
    background-color: #5985B2;
  }
  th {
    padding: 12px 4px !important;
  }
  td {
    padding: 12px 4px !important;
  }
}
